<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FileDateTimeManipulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FileDateTimeManipulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FileDateTimeManipulator.Properties.Settings>
            <setting name="userIconSet" serializeAs="String">
                <value>fatcow</value>
            </setting>
        </FileDateTimeManipulator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FileDateTimeManipulator.Properties.Settings>
            <setting name="systemIconSet" serializeAs="String">
                <value>fatcow</value>
            </setting>
        </FileDateTimeManipulator.Properties.Settings>
    </applicationSettings>
</configuration>
